@{
    ViewBag.Title = "Test Page";
}
<div style="padding: 50px;">

    <h1>Calculator</h1>
    <form method="post">
        <input type="number" name="x" value="" /> + <input type="number" name="y" value="" /><br />
        <input type="submit" value="Calculate" />
    </form>
    <hr />
    <h1>@ViewBag.Answer</h1>
</div>