@{
    ViewBag.Title = "Test";
}
<form method="post">
    <input type="number" name="n1" value="" /><input type="number" name="n2" value="" /> = <br />
    <input type="submit" value="Calculate" /><br />
</form>
<h1>@ViewBag.Answer</h1>